@import "variable";
@import "font";

.board_container {
  width: $layout_width;
  height: auto;
  margin: 0 auto;
  border: 1px solid white;
  text-align: center;
  img {
    margin: 57px 0;
  }
  .function_box {
    width: $content_width;
    height: 50px;
    margin: 0 auto;
    position: relative;
    .write_btn {
      position: absolute;
      right: -4px;
      top: -50px;
      display: none;
    }
  }
  table {
    width: $content_width;
    height:auto;
    border-top: 2px solid #545454;
    border-bottom: 2px solid #545454;
    text-align: center;
    border-collapse: collapse;
    font-family: "KOTRA_BOLD-Bold", sans-serif;
    color: #2a2a2a;
    margin: 0 auto 110px;
    font-size: 11px;
    tr {
      height: 30px;
      border-bottom: 1px solid #c8c8c8;
      td:nth-of-type(odd) {
        width: 12%;
        background-color: #f6f6f6;
      }
      td:nth-of-type(even) {
        width: 10%;
        input[type="text"] {
          width: 96%;
          height: 30px;
          border: none;
          outline: none;
          padding: 0 10px;
        }
        #title {
          width: 540px;
          font-family: "Noto Sans KR", sans-serif;
        }
        #name {
          width: 100px;
          font-family: "Noto Sans KR", sans-serif;
        }
        select {
          width: 100%;
          height: 30px;
          border: none;
          outline: none;
          font-family: "Noto Sans KR", sans-serif;
        }
      }
    }
    tr:nth-of-type(2) {
      td {
        background-color: white;
        #text {
          width: 97.5%;
          white-space: pre-line;
          height: auto;
          padding: 15px;
          margin: 10px 0;
          border: 1px solid #c8c8c8;
          resize: none;
          outline: none;
          font-family: "Noto Sans KR", sans-serif;
          img{
            width:100%;
          }
        }
      }
    }
    tr:nth-of-type(3) {
      td {
        background-color: white;
        text-align: right;
        padding: 20px 0;
        .insert_btn,
        .delete_btn,
        .update_btn,
        a {
          padding: 5px 30px;
          background-color: #4c4c4c;
          color: white;
          font-family: "Noto Sans KR", sans-serif;
          font-size: 11px;
          border: none;
          outline: none;
          margin: 10px 0;
          cursor: pointer;
          float: right;
          margin: 0 2px;
        }
        img {
          margin: 10px 0;
        }
      }
    }
  }
}
.comment_container {
  width: $layout_width;
  table {
    width: $content_width;
    margin: 50px auto;
    border-top: 2px solid #545454;
    text-align: center;
    border-collapse: collapse;
    font-family: "KOTRA_BOLD-Bold", sans-serif;
    font-size: 11px;
    tr {
      border-bottom: 1px solid #c8c8c8;
    }
    thead {
      tr {
        height: 30px;
      }
    }
    tbody {
      tr {
        height: auto;
        td {
          img {
            margin: 5px;
            cursor: pointer;
          }
        }
        td:nth-of-type(2){
          h6{
            font-size:16px;
          }
        }
        td:nth-of-type(3) {
          width: 700px;
          textarea {
            width: 98%;
            border: none;
            resize: none;
            outline: none;
            padding: 15px;
            font-size:12px;
            font-family: "KOTRA_BOLD-Bold", sans-serif;
          }
        }
      }
    }
  }
  .paging_box {
    width: 300px;
    margin: 20px auto;
    text-align: center;
    span {
      height: 20px;
      border: 1px solid #cccccc;
      margin: 5px;
      padding: 0px 10px;
      font-size: 12px;
      display: inline-block;
      color: #444444;
      cursor: pointer;
      img {
        width: 10px;
      }
    }
    .prev {
      float: left;
      img {
        margin: 5px 0;
      }
    }
    .next {
      float: right;
      img {
        margin: 5px 0;
      }
    }
  }
}
.comment_form_container {
  width: $layout_width;
  table {
    width: $content_width;
    border-collapse: collapse;
    text-align: center;
    margin: 50px auto;
    border-top: 2px solid #545454;
    font-size: 11px;
    font-family: "KOTRA_BOLD-Bold", sans-serif;
    thead {
      tr {
        height: 50px;
        border-bottom: 1px solid #c8c8c8;
      }
      tr:nth-of-type(1) {
        background-color: #f6f6f6;
        td:nth-of-type(2),
        td:nth-of-type(4) {
          input {
            height: 15px;
            outline: none;
            border: 1px solid #cccccc;
            float: left;
            padding: 5px;
          }
        }
      }
      tr:nth-of-type(2) {
        td:nth-of-type(1) {
          border-right: 1px solid #cccccc;
        }
        td:nth-of-type(2) {
          textarea {
            width: 88%;
            height: 100px;
            float: left;
            resize: none;
            outline: none;
            border: none;
            padding: 15px;
          }
          input {
            float: left;
            width: 9%;
            height: 100px;
            outline: none;
            background-color: #3b95e8;
            color: white;
            font-family: "KOTRA_BOLD-Bold", sans-serif;
            border: none;
            cursor: pointer;
          }
          input[type="button"] {
            background-color: #444444;
            height: 30px;
          }
        }
      }
    }
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .board_container {
    .title_img {
      margin-right: 590px;
    }
    table {
      tr:nth-of-type(2) {
        td {
          #text {
            height: 500px;
          }
        }
      }
    }
  }
  .comment_container {
    table {
      tbody {
        tr {
          td:nth-of-type(3) {
            textarea {
              height: 200px;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .board_container {
    width: auto;
    height: auto;
    margin: 0 auto;
    text-align: center;
    img {
      margin: 57px 0;
    }
    .function_box {
      width: auto;
      height: 50px;
      margin: 0 auto;
    }
    table {
      width: auto;
      margin: 0 auto 110px;
      font-size: 11px;
      tr {
        height: 30px;
        td:nth-of-type(odd) {
          width: 12%;
        }
        td:nth-of-type(even) {
          width: 10%;
          input[type="text"] {
            width: 96%;
            height: 30px;
            padding: 0 10px;
          }
          #title {
            width: 300px;
          }
          #name {
            width: 100px;
          }
          select {
            width: 100%;
            height: 30px;
          }
        }
      }
      tr:nth-of-type(2) {
        td {
          #text {
            width: auto;
            white-space: pre-line;
            height: 334px;
            padding: 15px;
            margin: 10px 0;
            img{
              width:100%;
            }
          }
        }
      }
      tr:nth-of-type(3) {
        td {
          input[type="password"] {
            width: 120px;
            height: 23px;
            padding: 0 10px;
          }
          .insert_btn,
          .update_btn,
          .delete_btn,
          a {
            padding: 5px 30px;
            font-size: 11px;
            margin: 10px 3px;
          }
          img {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .comment_container {
    width: auto;
    table {
      width: auto;
      tbody {
        tr {
          td:nth-of-type(3) {
            width: 500px;
          }
        }
      }
    }
  }
  .comment_form_container {
    width: 100%;
    table {
      width: 100%;
      thead {
        tr:nth-of-type(2) {
          td:nth-of-type(2) {
            textarea {
              width: 86.5%;
            }
            input {
              float: right;
            }
          }
        }
      }
    }
  }
} // 1024px

@media (max-width: 766px) {
  .board_container {
    width: auto;
    height: auto;
    margin: 0 auto;
    border: 1px solid white;
    text-align: center;
    img {
      margin: 57px 0;
    }
    .function_box {
      width: auto;
      height: 50px;
      margin: 0 auto;
      position: relative;
      .write_btn {
        position: absolute;
        right: -4px;
        top: -50px;
        display: none;
      }
    }
    table {
      width: auto;
      border-top: 2px solid #545454;
      border-bottom: 2px solid #545454;
      text-align: center;
      border-collapse: collapse;
      font-family: "KOTRA_BOLD-Bold", sans-serif;
      color: #2a2a2a;
      margin: 0 auto 110px;
      font-size: 0.5em;
      tr {
        height: 30px;
        border-bottom: 1px solid #c8c8c8;
        td:nth-of-type(odd) {
          width: 15%;
          background-color: #f6f6f6;
        }
        td:nth-of-type(even) {
          width: 30%;
          input[type="text"] {
            font-size: 0.5em;
            width: 96%;
            height: 30px;
            border: none;
            outline: none;
            padding: 0 10px;
          }
          #title {
            width: 80%;
            font-family: "Noto Sans KR", sans-serif;
          }
          #name {
            width: 80%;
            font-family: "Noto Sans KR", sans-serif;
          }
          select {
            width: 100%;
            height: 30px;
            border: none;
            outline: none;
            font-family: "Noto Sans KR", sans-serif;
          }
        }
      }
      tr:nth-of-type(2) {
        td {
          background-color: white;
          #text {
            width: auto;
            white-space: pre-line;
            height: auto;
            padding: 15px;
            margin: 10px 0;
            border: 1px solid #c8c8c8;
            resize: none;
            outline: none;
            font-family: "Noto Sans KR", sans-serif;

            img{
              width:100%;
            }
          }
        }
      }
      tr:nth-of-type(3) {
        td {
          background-color: white;
          text-align: center;
          padding: 20px 0;
          .insert_btn,
          .delete_btn,
          .update_btn,
          a {
            padding: 5px 30px;
            background-color: #4c4c4c;
            color: white;
            font-family: "Noto Sans KR", sans-serif;
            font-size: 11px;
            border: none;
            outline: none;
            margin: 10px 0;
            cursor: pointer;
            float: unset;
            margin: 0 2px;
          }
          img {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .comment_container {
    width: 100%;
    table {
      width: 100%;
      margin: 50px auto;
      border-top: 2px solid #545454;
      text-align: center;
      border-collapse: collapse;
      font-family: "KOTRA_BOLD-Bold", sans-serif;
      font-size: 11px;
      tr {
        border-bottom: 1px solid #c8c8c8;
      }
      thead {
        tr {
          height: 30px;
        }
      }
      tbody {
        tr {
          height: auto;
          td {
            img {
              margin: 5px;
              cursor: pointer;
            }
          }
          td:nth-of-type(3) {
            width: 700px;
            textarea {
              width: 98%;
              border: none;
              resize: none;
              outline: none;
              padding: 15px;
              font-family: "KOTRA_BOLD-Bold", sans-serif;
            }
          }
        }
      }
    }
    .paging_box {
      width: 300px;
      margin: 20px auto;
      text-align: center;
      span {
        height: 20px;
        border: 1px solid #cccccc;
        margin: 5px;
        padding: 0px 10px;
        font-size: 12px;
        display: inline-block;
        color: #444444;
        cursor: pointer;
        img {
          width: 10px;
        }
      }
      .prev {
        float: left;
        img {
          margin: 5px 0;
        }
      }
      .next {
        float: right;
        img {
          margin: 5px 0;
        }
      }
    }
  }
  .comment_form_container {
    width: 100%;
    table {
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      margin: 50px auto;
      border-top: 2px solid #545454;
      font-size: 11px;
      font-family: "KOTRA_BOLD-Bold", sans-serif;
      thead {
        tr {
          height: 50px;
          border-bottom: 1px solid #c8c8c8;
        }
        tr:nth-of-type(1) {
          background-color: #f6f6f6;
          td:nth-of-type(2),
          td:nth-of-type(4) {
            input {
              width: 40%;
              height: 15px;
              outline: none;
              border: 1px solid #cccccc;
              float: left;
              padding: 5px;
            }
          }
        }
        tr:nth-of-type(2) {
          td:nth-of-type(1) {
            border-right: 1px solid #cccccc;
          }
          td:nth-of-type(2) {
            textarea {
              width: 80%;
              height: 100px;
              float: left;
              resize: none;
              outline: none;
              border: none;
              padding: 15px;
            }
            input {
              float: right;
              width: 9%;
              height: 100px;
              outline: none;
              background-color: #3b95e8;
              color: white;
              font-family: "KOTRA_BOLD-Bold", sans-serif;
              border: none;
              cursor: pointer;
            }
            input[type="button"] {
              background-color: #444444;
              height: 30px;
            }
          }
        }
      }
    }
  }
}
@media (max-width: 419px) {
}
