<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/layout.css">
    <link rel="stylesheet" href="../public/css/header.css">
    <link rel="stylesheet" href="../public/css/nav.css">
    <link rel="stylesheet" href="../public/css/kt.css">
    <link rel="stylesheet" href="../public/css/footer.css">
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <title>어컴퍼니</title>
</head>
<body>
    <%-header%>
    <%-nav%>
    <div class="kt_container">
        <div class="kt_box">

            <div class="olleh_kt">
                <img src="../public/img/main/kt.png" alt="kt 로고">
                <h3>올레 KT</h3>
                <p class="sub_title">[3년 약정 / VAT 포함]</p>
                <table class="olleh_kt_table">
                    <thead>
                        <tr>
                            <td rowspan="2">인터넷상품</td>
                            <td rowspan="2">휴대폰<br>(모바일)<br>결합여부</td>
                            <td colspan="3">인터넷 요금표</td>
                            <td>상품권 + 사은품</td>
                        </tr>
                        <tr>
                            <td>올레<br>100M</td>
                            <td>기가콤펙트<br>500M</td>
                            <td>광기가<br>1G</td>
                            <td>전체</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="2">1. 인터넷</td>
                            <td>미결합시</td>
                            <td class="kt_value">22,000원</td>
                            <td class="kt_value">33,000원</td>
                            <td class="kt_value">38,500원</td>
                            <td rowspan="2" class="impact">최대 지급</td>
                        </tr>
                        <tr>
                            <td>결합시</td>
                            <td class="kt_value">16,500원</td>
                            <td class="kt_value">27,500원</td>
                            <td class="kt_value">33,000원</td>
                        </tr>
                        <tr>
                            <td rowspan="2">2. 인터넷 + TV 베이직(UHD셋탑)</td>
                            <td>미결합시</td>
                            <td class="kt_value">37,400원</td>
                            <td class="kt_value">42,900원</td>
                            <td class="kt_value">48,400원</td>
                            <td rowspan="2" class="impact">최대 지급</td>
                        </tr>
                        <tr>
                            <td>결합시</td>
                            <td class="kt_value">31,900원</td>
                            <td class="kt_value">37,400원</td>
                            <td class="kt_value">42,900원</td>
                        </tr>
                        <tr>
                            <td rowspan="2">3. 인터넷 + TV 라이트(UHD셋탑)</td>
                            <td>미결합시</td>
                            <td class="kt_value">38,500원</td>
                            <td class="kt_value">44,000원</td>
                            <td class="kt_value">49,500원</td>
                            <td rowspan="2" class="impact">최대 지급</td>
                        </tr>
                        <tr>
                            <td>결합시</td>
                            <td class="kt_value">33,000원</td>
                            <td class="kt_value">38,500원</td>
                            <td class="kt_value">44,000원</td>
                        </tr>
                        <tr>
                            <td rowspan="2">4. 스마트인터넷 + TV 에센스(UHD셋탑)</td>
                            <td>미결합시</td>
                            <td class="kt_value">41,800원</td>
                            <td class="kt_value">47,300원</td>
                            <td class="kt_value">52,800원</td>
                            <td rowspan="2" class="impact">최대 지급</td>
                        </tr>
                        <tr>
                            <td>결합시</td>
                            <td class="kt_value">36,300원</td>
                            <td class="kt_value">41,800원</td>
                            <td class="kt_value">47,300원</td>
                        </tr>
                    </tbody>
                </table>
                <h4>※ 가입시 유의사항</h4>
                <p class="notice">
                    - 인터넷 ＆ 인터넷 + 전화 + TV 상품권 4 ~ 10만원 포함된 금액입니다.<br>
                    - 접수기준으로 사은품은 제공되며 사은품은 항시 변동될 수 있습니다.<br>
                    - 인터넷 단독 설치비 27,500원, 인터넷 + TV 동시 설치비 38,500원, 전화 설치비 27,500원<br>
                    - TV추가시 설치비 대당 11,000원(동시설치/별도 설치시 27,500원) 추가/WIFI출동비 22,000원(단, 인터넷 동시 설치시 면제)<br>
                    / 일반전화 번호이동 수수료 2,000원<br>
                    - 우리끼리 3000 요금제 개통후 요금제 변경시 가입비 66,000원 부가<br>
                    <b class="red">
                    - 가입하신 상품에 대한 변경 및 요금제 하향은 실사용 9개월 이후 가능합니다. 그 이전 변경시 사은품은 전액 환수됩니다.<br>
                    - 약정은 3년 약정 기준이며, 1년 이내 모든 해지(위면해지, 직권해지 포함), 정지 및 실사용일수 9개월(270일) 이내일 시 현금사은품은 영업점으로<br>
                    반납되오니 유의바라며, 약정내 해지시 위약금 및 할인 반환금이 발생됩니다.<br>
                    - 동일장소, 동일 통신사 3개월이내 해지이력있을시 대표자 또는 가족구성원 가족결합 및 신규는 가입이 불가능하며 가입시 사은품 전액<br>
                    반환처리 됩니다.<br>
                    - KT 휴대폰 결합은 본사에서만 결합이 가능하니, 꼭 인터넷 설치 후 100번 전화하셔서 결합신청해주세요.<br>
                    - 기존에 사용하시던 인터넷은 꼭 설치 받으신 뒤 직접 해지 해주셔야 합니다.<br>
                    </b>
                    - 당월개통 기준이며 익월 개통시 사은품 변동이나 미지급 되실 수 있습니다. 익월개통하시면 가입시 반드시 말씀해주셔야 합니다.<br>
                    <b class="red">
                    - 다회선 가입자의 경우 기존 사용회선 변경/정지/해지 등 변경건 실사용일수 9개월(270일) 이내로 불가, 위반시 사은품 전액 반환됩니다.<br>
                    </b>
                    - 접수완료 후 취소하시면 10일 이내 재가입이 불가능합니다.
                </p>
            </div>

            <div class="olleh_kt">
                <img src="../public/img/main/kt.png" alt="kt 로고">
                <h3>올레 KT</h3>
                <p class="sub_title">[3년 약정 / VAT 포함]</p>
                <table class="olleh_kt_table">
                    <thead>
                        <tr>
                            <td rowspan="2">종류<br><b style="font-size:0.4em;font-weight:400;">- 와이파이 1,100원 추가(1G 무상)<br>- 기가지니셋탑 1,100원 추가</b></td>
                            <td colspan="3">월 사용 요금 총액 (3년 약정)</td>
                            <td colspan="3">총 지급 사은품</td>
                        </tr>
                        <tr>
                            <td>올레<br><b style="color:#ff0008">100M</b></td>
                            <td>기가콤팩트<br><b style="color:#ff0008">500M</b></td>
                            <td>광기가<br><b style="color:#ff0008">100M</b></td>
                            <td>올레<br><b style="color:#ff0008">1G</b></td>
                            <td>기가콤팩트<br><b style="color:#ff0008">500M</b></td>
                            <td>광기가<br><b style="color:#ff0008">1G</b></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="font-weight:bold">1. 인터넷</td>
                            <td class="kt_value">16,500원</td>
                            <td class="kt_value">22,000원</td>
                            <td class="kt_value">27,500원</td>
                            <td colspan="3" class="impact">최대 지급</td>
                        </tr>
                        <tr>
                            <td style="font-weight:bold">2. 인터넷 + TV 베이직(UHD셋탑)</td>
                            <td class="kt_value">31,900원</td>
                            <td class="kt_value">37,400원</td>
                            <td class="kt_value">42,900원</td>
                            <td colspan="3" class="impact">최대 지급</td>
                        </tr>                            <tr>
                            <td style="font-weight:bold">3. 인터넷 + TV 라이트(UHD셋탑)</td>
                            <td class="kt_value">33,000원</td>
                            <td class="kt_value">38,500원</td>
                            <td class="kt_value">44,000원</td>
                            <td colspan="3" class="impact">최대 지급</td>
                        </tr>                            <tr>
                            <td style="font-weight:bold">4. 인터넷 + TV 에센스(UHD셋탑)</td>
                            <td class="kt_value">36,300원</td>
                            <td class="kt_value">41,800원</td>
                            <td class="kt_value">47,300원</td>
                            <td colspan="3" class="impact">최대 지급</td>
                        </tr>
                    </tbody>
                </table>
                <h4 style="font-size:14px;">※ 상품권은 이마트 / 홈플러스 중 택1입니다.(총 지급액 3만원 상품권 포함 금액)</h4>
            </div>

            <div class="olleh_kt">
                <img src="../public/img/main/kt.png" alt="kt 로고">
                <h3>휴대폰 월정액 총액에 따른 결합 할인혜택</h3>
                <h5>가구당 총액 결합할인 할인액</h5>
                <p class="sub_title">[3년 약정 / VAT 포함]</p>
                <table class="olleh_kt_table">
                    <thead>
                        <tr>
                            <td style="background-color:white; color:black;">인터넷 구분</td>
                            <td>요금제 총액</td>
                            <td>22,000 미만</td>
                            <td>22,000 이상</td>
                            <td>64,900 이상</td>
                            <td>108,900 이상</td>
                            <td>141,900 이상</td>
                            <td>159,000 이상</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td rowspan="3">광기가/<br>기가콤팩트</td>
                            <td>인터넷 할인</td>
                            <td>2,200원</td>
                            <td colspan="5">5,500원</td>
                        </tr>
                        <tr>
                            <td>휴대폰 할인액</td>
                            <td>-</td>
                            <td>-</td>
                            <td>5,500원</td>
                            <td>16,610원</td>
                            <td>22,110원</td>
                            <td>27,610원</td>
                        </tr>
                        <tr>
                            <td style="color:red;">전체 할인액</td>
                            <td>2,200원</td>
                            <td>5,500원</td>
                            <td>11,000원</td>
                            <td>22,110원</td>
                            <td>27,610원</td>
                            <td>33,110원</td>
                        </tr>
                        <tr>
                            <td rowspan="3">올레</td>
                            <td>인터넷 할인</td>
                            <td>1,650원</td>
                            <td>3,300원</td>
                            <td colspan="4">5,500원</td>
                        </tr>
                        <tr>
                            <td>휴대폰 할인액</td>
                            <td>-</td>
                            <td>-</td>
                            <td>3,300원</td>
                            <td>14,300원</td>
                            <td>18,700원</td>
                            <td>23,100원</td>
                        </tr>
                        <tr>
                            <td style="color:red;">전체 할인액</td>
                            <td>1,650원</td>
                            <td>3,300원</td>
                            <td>8,800원</td>
                            <td>19,800원</td>
                            <td>24,200원</td>
                            <td>28,600원</td>
                        </tr>
                    </tbody>
            </table>
        </div>
    <script type="text/javascript">
        $(function(){
            $(window).load(function(){
            var ktInput = $('.kt_value');
            var ktValue = <%-kt%>;
            for(var i = 0; i < ktInput.length;i++){
                ktInput.eq(i).text(ktValue[i]);
            }
            });
        });
    </script>
    </div>
</div>
    <%-footer%>
</body>
</html>