@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;500&display=swap");
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype");
}

@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype");
}

.nanumbarungothic * {
  font-family: "NanumBarunGothic", sans-serif;
}

@font-face {
  font-family: "KOTRA_BOLD-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.main_container {
  width: 1920px;
  text-align: center;
}

.main_container .swiper-container {
  width: 1920px;
  height: 450px;
  display: inline-block;
}

.main_container .swiper-container .swiper-pagination span {
  background-color: black;
}

.main_container .swiper-container .swiper-button-next,
.main_container .swiper-container .swiper-button-prev {
  color: #444444;
  margin: -20px 50px;
}

.main_container .consulting_box {
  width: 1200px;
  margin: 55px auto 104px auto;
}

.main_container .consulting_box ul {
  text-align: center;
}

.main_container .consulting_box ul li {
  display: inline-block;
}

.main_container .price_introduce {
  width: 1200px;
  letter-spacing: -1px;
  margin: 0 auto;
  font-family: "Noto Sans KR", sans-serif;
}

.main_container .price_introduce h3 {
  font-size: 28px;
}

.main_container .price_introduce p {
  font-size: 14px;
  color: #888888;
  padding: 10px;
}

.main_container .price_content {
  width: 1200px;
  height: 333px;
  margin: 50px auto;
}

.main_container .price_content ul {
  width: 100%;
  height: 333px;
  text-align: center;
}

.main_container .price_content ul li {
  width: 30%;
  height: 380px;
  border-radius: 40px;
  display: inline-block;
  margin: 0px 10px;
  font-family: "Noto Sans KR", sans-serif;
}

.main_container .price_content ul li img {
  margin: 20px 0;
}

.main_container .price_content ul li h3 {
  font-size: 22px;
}

.main_container .price_content ul li p {
  margin: 20px 0 30px;
}

.main_container .price_content ul li div {
  margin: 30px 0;
}

.main_container .price_content ul li div a {
  padding: 10px 23px;
  border-radius: 10px;
  color: white;
  margin: 20px 0;
}

.main_container .price_content ul li a {
  padding: 10px 30px;
  border-radius: 10px;
  color: white;
  margin: 20px 0;
}

.main_container .price_content ul li:nth-of-type(1) {
  border: 2px solid #ffa500;
}

.main_container .price_content ul li:nth-of-type(1) h3 {
  color: #ff0000;
}

.main_container .price_content ul li:nth-of-type(1) a {
  background-color: #ff0000;
}

.main_container .price_content ul li:nth-of-type(2) {
  border: 2px solid #444444;
}

.main_container .price_content ul li:nth-of-type(2) h3 {
  color: #444444;
}

.main_container .price_content ul li:nth-of-type(2) a {
  background-color: #444444;
}

.main_container .price_content ul li:nth-of-type(3) {
  border: 2px solid #c20053;
}

.main_container .price_content ul li:nth-of-type(3) h3 {
  color: #c20053;
}

.main_container .price_content ul li:nth-of-type(3) a {
  background-color: #c20053;
}

.main_container .content_introduce {
  width: 1200px;
  letter-spacing: -1px;
  margin: 100px auto 0;
  font-family: "Noto Sans KR", sans-serif;
}

.main_container .content_introduce h3 {
  font-size: 28px;
}

.main_container .content_introduce p {
  font-size: 14px;
  color: #888888;
  padding: 10px;
}

.main_container .content_box {
  width: 1200px;
  margin: 50px auto 0;
  text-align: center;
}

.main_container .content_box ul li {
  display: inline-block;
}

.main_container .join_introduce {
  width: 1200px;
  letter-spacing: -1px;
  margin: 104px auto 0;
  font-family: "Noto Sans KR", sans-serif;
}

.main_container .join_introduce h3 {
  font-size: 28px;
}

.main_container .join_introduce p {
  font-size: 14px;
  color: #888888;
  padding: 10px;
}

.main_container .join_content {
  width: 1920px;
  height: 372px;
  background: url("../img/main/join_step_bg.png") no-repeat;
  margin: 40px 0;
}

.main_container .join_content img {
  margin: 80px 0;
}

.main_container .consulting_content {
  width: 1920px;
}

.main_container .consulting_content .consulting_form {
  width: 1200px;
  text-align: center;
  margin: 30px auto 100px;
}

.main_container .consulting_content .consulting_form form {
  width: 100%;
  height: 130px;
  background-color: #ededed;
  border-radius: 20px;
  border: 1px solid #dedede;
}

.main_container .consulting_content .consulting_form form ul {
  width: 100%;
  position: relative;
}

.main_container .consulting_content .consulting_form form ul li {
  position: absolute;
}

.main_container .consulting_content .consulting_form form ul li input {
  border-radius: 5px;
  border: 1px solid #b6b6b6;
  padding: 15px;
  height: 10px;
  outline: none;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(1) {
  top: 30px;
  left: 100px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(2) {
  top: 44px;
  left: 340px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(2) input {
  width: 120px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(3) {
  top: 44px;
  left: 500px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(3) input {
  width: 160px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(4) {
  top: 44px;
  left: 700px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(4) input {
  width: 250px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(5) {
  top: 44px;
  left: 1000px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(5) input {
  background-color: #006bcf;
  width: 80px;
  height: 40px;
  padding: 0;
  font-size: 12px;
  color: white;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(6) {
  top: 90px;
  left: 943px;
  font-size: 13px;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(6) input {
  width: 15px;
  height: 15px;
  margin: 5px;
  position: absolute;
  left: -30px;
  top: -3px;
  border: 1px solid #a6a6a6;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b {
  color: #717171;
}

.main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b a {
  color: #717171;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .swiper-container {
    width: 1920px;
    height: 450px;
    display: inline-block;
  }
  .swiper-container .swiper-pagination span {
    background-color: black;
  }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    display: none;
  }
}

@media (max-width: 1024px) {
  .main_container {
    width: auto;
    text-align: center;
  }
  .main_container .swiper-container {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .main_container .swiper-container img {
    width: 100%;
  }
  .main_container .swiper-container .swiper-pagination span {
    background-color: black;
  }
  .main_container .swiper-container .swiper-button-next,
  .main_container .swiper-container .swiper-button-prev {
    color: #444444;
    margin: -20px 50px;
  }
  .main_container .consulting_box {
    width: auto;
    margin: 55px auto;
  }
  .main_container .consulting_box ul {
    text-align: center;
  }
  .main_container .consulting_box ul li {
    display: inline-block;
  }
  .main_container .price_introduce {
    width: auto;
    letter-spacing: -1px;
    margin: 0 auto;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .price_introduce h3 {
    font-size: 1.2em;
  }
  .main_container .price_introduce p {
    font-size: 0.8em;
    color: #888888;
    padding: 10px;
  }
  .main_container .price_content {
    width: auto;
    height: 250px;
  }
  .main_container .price_content ul {
    height: 250px;
  }
  .main_container .price_content ul li {
    width: 25%;
    height: 250px;
  }
  .main_container .price_content ul li img {
    width: 50%;
    margin: 20px 0;
  }
  .main_container .price_content ul li h3 {
    font-size: 0.8em;
  }
  .main_container .price_content ul li p {
    margin: 10px 0 20px;
    font-size: 0.6em;
  }
  .main_container .price_content ul li a {
    padding: 10px 30px;
    font-size: 0.6em;
  }
  .main_container .content_introduce {
    width: auto;
    letter-spacing: -1px;
    margin: 100px auto 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .content_introduce h3 {
    font-size: 28px;
  }
  .main_container .content_introduce p {
    font-size: 14px;
    color: #888888;
    padding: 10px;
  }
  .main_container .content_box {
    width: auto;
    margin: 50px auto 0;
    text-align: center;
  }
  .main_container .content_box ul {
    width: 100%;
  }
  .main_container .content_box ul li {
    width: 32%;
    display: inline-block;
  }
  .main_container .content_box ul li img {
    width: 100%;
  }
  .main_container .join_introduce {
    width: auto;
    letter-spacing: -1px;
    margin: 0 auto;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .join_introduce h3 {
    font-size: 1.2em;
  }
  .main_container .join_introduce p {
    font-size: 0.8em;
    color: #888888;
    padding: 10px;
  }
  .main_container .join_content {
    width: auto;
    height: auto;
    background: url("../img/main/join_step_bg.png") no-repeat;
    background-size: 100% 100%;
  }
  .main_container .join_content img {
    width: 80%;
    margin: 70px 0;
  }
  .main_container .event_content {
    width: auto;
  }
  .main_container .event_content img {
    width: 80%;
  }
  .main_container .consulting_content {
    width: auto;
  }
  .main_container .consulting_content .consulting_form {
    width: auto;
    text-align: center;
    margin: 30px auto 100px;
  }
  .main_container .consulting_content .consulting_form form {
    width: 100%;
    height: 150px;
    background-color: #ededed;
    border-radius: 20px;
    border: 1px solid #dedede;
  }
  .main_container .consulting_content .consulting_form form ul {
    width: 100%;
    position: relative;
  }
  .main_container .consulting_content .consulting_form form ul li {
    position: absolute;
  }
  .main_container .consulting_content .consulting_form form ul li input {
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    height: 10px;
    outline: none;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(1) {
    top: 10px;
    left: 2%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(1) img {
    width: 80%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(2) {
    top: 18px;
    left: 30%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(2) input {
    width: 100px;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(3) {
    top: 18px;
    left: 48%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(3) input {
    width: 130px;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(4) {
    top: 18px;
    left: 70%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(4) input {
    width: 150px;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(5) {
    width: 80%;
    top: 70px;
    left: 10%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(5) input {
    background-color: #006bcf;
    width: 100%;
    height: 40px;
    padding: 0;
    font-size: 12px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) {
    top: 120px;
    left: 13.5%;
    font-size: 13px;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) input {
    width: 15px;
    height: 15px;
    margin: 5px;
    position: absolute;
    left: -30px;
    top: -3px;
    border: 1px solid #a6a6a6;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b {
    color: #717171;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b a {
    color: #717171;
  }
}

@media (max-width: 766px) {
  .main_container {
    width: 100%;
    text-align: center;
  }
  .main_container .swiper-container {
    width: 100%;
    height: auto;
    display: inline-block;
  }
  .main_container .swiper-container img {
    width: 100%;
    height: 100%;
  }
  .main_container .swiper-container .swiper-pagination {
    display: none;
  }
  .main_container .swiper-container .swiper-pagination span {
    background-color: black;
  }
  .main_container .swiper-container .swiper-button-next,
  .main_container .swiper-container .swiper-button-prev {
    display: none;
  }
  .main_container .consulting_box {
    width: 100%;
    margin: 0 auto 0 auto;
  }
  .main_container .consulting_box ul {
    text-align: center;
  }
  .main_container .consulting_box ul li {
    display: block;
  }
  .main_container .consulting_box ul li img {
    width: 100%;
  }
  .main_container .price_introduce {
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
    margin: 40px auto 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .price_introduce h3 {
    font-size: 1.1em;
  }
  .main_container .price_introduce p {
    font-size: 0.5em;
    color: #888888;
    padding: 10px 0;
  }
  .main_container .price_content {
    width: 100%;
    height: auto;
    margin: 20px auto 0;
  }
  .main_container .price_content ul {
    width: 100%;
    height: auto;
    text-align: center;
  }
  .main_container .price_content ul li {
    width: 90%;
    height: 290px;
    border-radius: 40px;
    display: block;
    margin: 10px 5%;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .price_content ul li img {
    width: auto;
    margin: 20px 0;
  }
  .main_container .price_content ul li h3 {
    font-size: 22px;
  }
  .main_container .price_content ul li p {
    margin: 10px 0 10px;
    font-size: 0.8em;
  }
  .main_container .price_content ul li a {
    padding: 10px 30px;
    border-radius: 10px;
    color: white;
  }
  .main_container .price_content ul li:nth-of-type(1) {
    border: 2px solid #ffa500;
  }
  .main_container .price_content ul li:nth-of-type(1) h3 {
    color: #ff0000;
  }
  .main_container .price_content ul li:nth-of-type(1) a {
    background-color: #ff0000;
  }
  .main_container .price_content ul li:nth-of-type(2) {
    border: 2px solid #444444;
  }
  .main_container .price_content ul li:nth-of-type(2) h3 {
    color: #444444;
  }
  .main_container .price_content ul li:nth-of-type(2) a {
    background-color: #444444;
  }
  .main_container .price_content ul li:nth-of-type(3) {
    border: 2px solid #c20053;
  }
  .main_container .price_content ul li:nth-of-type(3) h3 {
    color: #c20053;
  }
  .main_container .price_content ul li:nth-of-type(3) a {
    background-color: #c20053;
  }
  .main_container .content_introduce {
    width: auto;
    letter-spacing: -1px;
    margin: 100px auto 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .content_introduce h3 {
    font-size: 28px;
  }
  .main_container .content_introduce p {
    font-size: 14px;
    color: #888888;
    padding: 10px;
  }
  .main_container .content_box {
    width: auto;
    margin: 50px auto 0;
    text-align: center;
  }
  .main_container .content_box ul {
    width: 100%;
  }
  .main_container .content_box ul li {
    width: 100%;
    display: block;
    margin-top: 15px;
  }
  .main_container .content_box ul li img {
    width: 100%;
  }
  .main_container .join_introduce {
    width: 100%;
    text-align: center;
    letter-spacing: -1px;
    margin: 40px auto 0;
    font-family: "Noto Sans KR", sans-serif;
  }
  .main_container .join_introduce h3 {
    font-size: 1.1em;
  }
  .main_container .join_introduce p {
    font-size: 0.7em;
    color: #888888;
    padding: 10px 0;
  }
  .main_container .join_content {
    width: auto;
    height: auto;
    background: url("../img/main/join_step_bg_m.png") no-repeat;
    background-size: 100% 100%;
    margin: 20px 0;
  }
  .main_container .join_content img {
    width: 70%;
    margin: 5px;
    padding: 15px 0;
  }
  .main_container .consulting_content {
    width: auto;
  }
  .main_container .consulting_content .consulting_form {
    width: auto;
    text-align: center;
    margin: 20px auto 50px;
  }
  .main_container .consulting_content .consulting_form form {
    width: 100%;
    height: auto;
    background-color: #ededed;
    border-radius: 20px;
    border: 1px solid #dedede;
  }
  .main_container .consulting_content .consulting_form form ul {
    width: 100%;
    position: relative;
  }
  .main_container .consulting_content .consulting_form form ul li {
    position: unset;
  }
  .main_container .consulting_content .consulting_form form ul li input {
    border-radius: 5px;
    border: 1px solid #b6b6b6;
    padding: 15px;
    height: 10px;
    outline: none;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(1) {
    margin: 20px 13%;
    width: 70%;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(2) input {
    width: 70%;
    margin: 5px 0;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(3) input {
    width: 70%;
    margin: 5px 0;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(4) input {
    width: 70%;
    margin: 5px 0;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(5) input {
    background-color: #006bcf;
    width: 97%;
    height: 40px;
    padding: 0;
    margin: 5px 14%;
    font-size: 12px;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    cursor: pointer;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) {
    font-size: 13px;
    padding: 20px 0;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) input {
    width: 15px;
    height: 15px;
    margin: 5px;
    position: absolute;
    left: -30px;
    top: -3px;
    border: 1px solid #a6a6a6;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b {
    color: #717171;
  }
  .main_container .consulting_content .consulting_form form ul li:nth-of-type(6) b a {
    color: #717171;
  }
}
